<% cache_if_caching_fragments("frontpage-#{@locale}", :expires_in => 5.minutes) do %>
  <%= render :partial => "frontpage_how_it_works" %>

  <div id="frontpage_examples" class="frontpage_examples">
    <%= render :partial => "frontpage_the_ones_behind_it" %>
  </div>
<% end %>
